<?xml version="1.0"?>
<robot name="c3pzero_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--
Gazebo plugins can only be included once. Use this xacro as an example of how to run ros2_control in Gazebo.
Required Gazebo plugins:
  - gz_ros2_control::GazeboSimROS2ControlPlugin
    required to read and publish the robots joint states
  - gz::sim::systems::Sensors
    to publish simulated Lidar and RGBD camera data
-->
<xacro:macro name="c3pzero_gazebo_plugins" params="simulation_controllers">

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>${simulation_controllers}</parameters>
            <controller_manager_node_name>controller_manager</controller_manager_node_name>
        </plugin>
    </gazebo>

    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>

</xacro:macro>
</robot>
