<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="load_gazebo_base_transmissions">

        <transmission name="$drivewhl_l_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="drivewhl_l_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="drivewhl_l_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        </transmission>

        <transmission name="drivewhl_r_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="drivewhl_r_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="drivewhl_r_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        </transmission>

    </xacro:macro>

</robot>
