<?xml version="1.0"?>
<robot name="c300" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="simulation_controllers" default="$(find c300_bringup)/config/c300_gz_controllers.yaml" />
  <gazebo>
    <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(arg simulation_controllers)</parameters>
      <controller_manager_node_name>controller_manager</controller_manager_node_name>
      <ros>
        <remapping>/diff_drive_base_controller/cmd_vel_unstamped:=/cmd_vel</remapping>
        <remapping>/diff_drive_base_controller/odom:=/odom</remapping>
      </ros>
    </plugin>
    <plugin filename="libignition-gazebo-sensors-system.so" name="ignition::gazebo::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo>

  <gazebo reference="drivewhl_l_link">
    <mu1>100000.0</mu1>
    <mu2>100000.0</mu2>
    <kp>1e+5</kp>
    <kd>1</kd>
    <soft_cfm>0</soft_cfm>
    <soft_erp>0.2</soft_erp>
    <minDepth>0.001</minDepth>
    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="drivewhl_r_link">
    <mu1>100000.0</mu1>
    <mu2>100000.0</mu2>
    <kp>1e+5</kp>
    <kd>1</kd>
    <soft_cfm>0</soft_cfm>
    <soft_erp>0.2</soft_erp>
    <minDepth>0.001</minDepth>
    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
  </gazebo>


  <gazebo reference="rr_caster">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>1e+5</kp>
    <kd>1</kd>
    <soft_cfm>0</soft_cfm>
    <soft_erp>0.2</soft_erp>
    <minDepth>0.001</minDepth>
    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="lr_caster">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>1e+5</kp>
    <kd>1</kd>
    <soft_cfm>0</soft_cfm>
    <soft_erp>0.2</soft_erp>
    <minDepth>0.001</minDepth>
    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <!-- <gazebo reference="lidar_link">
    <sensor name="lidar" type="gpu_lidar">
      <update_rate>5</update_rate>
      <visualize>true</visualize>
      <always_on>true</always_on>
      <lidar>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>6.280000</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.120000</min>
          <max>3.5</max>
          <resolution>0.015000</resolution>
        </range>
      </lidar>
    </sensor>
  </gazebo> -->

</robot>
