<?xml version="1.0"?>
<robot name="c300" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Arguments -->
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="sim_gazebo" default="false" />
    <xacro:arg name="sim_isaac" default="false" />
    <xacro:arg name="mock_hardware" default="false" />

    <!-- Import macros for hardware components -->
    <xacro:include filename="$(find c300_description)/urdf/c300_macro.xacro" />

    <xacro:load_c300
        prefix="$(arg prefix)"
        mock_hardware="$(arg mock_hardware)"
        sim_gazebo="$(arg sim_gazebo)"
        sim_isaac="$(arg sim_isaac)"/>

    <xacro:if value="$(arg sim_gazebo)">
        <xacro:include filename="$(find c300_description)/urdf/c300.gazebo.xacro" />
        <xacro:arg name="simulation_controllers" default="$(find c300_bringup)/config/c300_gz_controllers.yaml" />
        <xacro:c300_gazebo
            simulation_controllers="$(arg simulation_controllers)"/>
    </xacro:if>

</robot>
